:root{
    --yellow-color: #FED136;
}

body{
    margin: 0;
}

ul{
    font-family: "Montserrat", sans-serif;
    list-style: none;
    color: var(--yellow-color);
    display: flex;
    gap: 30px;
}

li{
    font-size: 14px;
    cursor: pointer;
}

header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px 80px;
    background-color: #FFFFFF;
}

.logo{
    width: 162px;
    height: 47px;
}

.imgBuy{
    width: 66.24px;
    height: 66.24px;
    margin-bottom: 20px;
}

.imgDone{
    width: 66.24px;
    height: 66.24px;
    margin-bottom: 20px;
}

.imgLock{
    width: 66.24px;
    height: 66.24px;
    margin-bottom: 20px;
}

h1{
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

p{
    font-family: "Roboto Slab", serif;
    color: #777777;
}

.services{
    text-align: center;
    margin-top: 50px;
    padding: 80px 0;

}

.article{
    margin: 0 auto;
}

.container{
    display: inline-block;
    width: 250px;
    margin: 20px;
    vertical-align: top;
}

footer{
    background-color: #222222;
    text-align: center;
    padding: 80px 20px;
}

.contact{
    color: #FFFFFF;
    margin-bottom: 40px;
}

.form{
    text-align: center;
}

input{
    display: block;
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    border: 1px;
    border-radius: 2px;
}

.input-class{
    display: block;
}

.textarea-class{
    display: inline-block;
    vertical-align: top;
}

textarea{
    width: 300px;
    height: 140px;
    border: 1px;
    border-radius: 2px;
}


.input-div{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.btn{
    margin-top: 30px;
    padding: 12px 30px;
    background-color: #FED136;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}